body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Light background color */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.file-upload {
    text-align: center;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #3498db;
    transition: background-color 0.3s, border 0.3s;
}

.custom-file-upload:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

#results {
    margin-top: 20px;
}

#uploadedImage {
    max-width: 200px;
    display: block;
    margin: 0 auto 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.content-box {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-height: 300px;
    overflow-y: auto;
    white-space: pre-wrap; /* Preserve whitespace formatting */
}

/* Loader styling */
.loader {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    display: none; /* Hidden by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
